


<ul class="c-sidebar-nav ps ps--active-y">
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/">
        <svg class="c-sidebar-nav-icon">
            <use xlink:href="/"></use>
        </svg> Dashboard<span class="badge badge-info">NEW</span></a>
    </li>
    <li class="c-sidebar-nav-title">User</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/user/list">
        <svg class="c-sidebar-nav-icon">
            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>
        </svg> List</a></li>
</ul>