<div class="row">
    <div class="col-sm-12">
        <div class="card fluid">
            <div class="row">
                <div class="col-sm-11">
                    {{template "partials/header" .}}
                </div>
                <div class="col-sm-1">
                    <label for="drawer-control" class="drawer-toggle persistent"></label>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="checkbox" id="drawer-control" class="drawer persistent">
<div id="sidebar" class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show">
    <label for="drawer-control" class="drawer-close"></label>
    {{template "partials/nav" .}}
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card fluid">
            {{template "inner/index" .}}
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card fluid">
            {{template "partials/footer" .}}
        </div>
    </div>
</div>

